<div class="container">
    <section id="nasa-details">
        <h3>Title: <%= data.title %></h3>
        <h3>Copyright: <%= data.copyright %></h3>
        <h3>Taken on: <%= data.date %></h3>
        <p><strong>Explanation:</strong></p>
        <p><%= data.explanation %></p>
    </section>
    <section id="nasa-image">
        <img src="<%= data.url %>">
    </section>
</div>